PORT=8080
NODE_ANV=development
URL_REACT= http://localhost:3000
FRONTEND_URL=http://localhost:3000
MAX_NUMBER_SCHEDULES= 10
EMAIL_APP_PASSWORD=
EMAIL_APP=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com